* { margin: 0; padding: 0; }
#topnav{
	border: 0px solid #ff0000;
	width: 1000px;
	height: 15px;
	margin: auto;

	
	
}
#topnavRight{
	border: 0px solid #ff0000;
	width: 200px;
	float: right;
}
#topnavRight p{
	font-size: 12px;
	text-align: right;
}
#nav{
	border: 0px solid #ff0000;
	width: 1000px;
	height: 75px;
	margin: auto;
	background-color: #ffffff;
	position: fixed;
	top:0px;
}
#navlogo{
	border: 0px solid #ff0000;
	width: 100px;
	height: 48px;
	float: left;
	margin-left:20px;
	
}
#navtext{
	border: 0px solid #ff0000;
	width: 760px;
	height: 48px;
	float: left;
	margin-left: 40px;
	font-size: 18px;
}
.navlay1{
	border: 0px solid #ff0000;
	position: relative;
	margin: 20px 0; 
}
.navlay1 ul{
	border: 0px solid #ff0000;
}
.navlay1 li{
	border: 0px solid #ff0000;
	margin: 0 5px 10px 0; 
	width: 130px;
	list-style: none;
	display: inline-block; 
}
.navlay1 a { 
  padding: 3px 12px; 
  text-decoration: none; 
  color: #000; 
  line-height: 100%; 
} 
.navlay1 a:hover { 
  border-bottom: 4px solid #ffb25b;
} 
.navlay1 .current a { 
  color: #000; 
  border-radius: 5px; 
} 
body{
	border: 0px solid #ff0000;
	width: 1000px;
	margin: auto;
	padding-top:75px;
}
#main{
	border: 0px solid #ff0000;
	width: 1000px;
	height: 500px;
	margin-top:50px;
	margin: auto;
}
#loopshow{
	border: 0px solid #ff0000;
	width: 1000px;
	height: 500px;
	margin: auto;
}
#loopshow img{
	border: 0px solid #ff0000;
	width: 1000px;
	height: 500px;
	margin: auto;
}
#footer{
	border: 0px solid #ff0000;
	width: 1000px;
	height: 200px;
	margin: auto;
	float:left;
}
#footerLeft{
	border: 0px solid #ff0000;
	width: 280px;
	height: 70px;
	float: left;
}
#footerRight{
	border: 0px solid #ff0000;
	width: 690px;
	height: 70px;
	float: right;
	margin-top: 3px;
	margin-left: 20px;
}
#footerRight ul{
	border: 0px solid #ff0000;
	width: 700px;
	height: 20px;
	float: right;
	list-style: none;
	line-height: 20px;
	font-size: 12px;
}
#footerRight li{
	border: 0px solid #ff0000;
	width: 700px;
	float: right;
	color: #838383;
}
.companyname{
	border: 0px solid #ff0000;
	font-weight: bold;	
}
#copyright{
	border: 0px solid #ff0000;
	clear: both;
	margin: auto;
	text-align: center;
	margin-top: 10px;
	font-size: 10px;
}
#aboutus_main{
	border:0px solid #ff0000;
	background-color: #e6e6e6;
	padding:10px;
	font-family: Open sans;	
}
h2{
	padding-bottom: 15px;
}
h3{
	padding-bottom: 10px;	
}